In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
ids_scenario1 = pd.read_csv("/content/drive/MyDrive/P2/data/raw/scenario01/csv/patients.csv", index_col=None, header=None)
ids_scenario2 = pd.read_csv("/content/drive/MyDrive/P2/data/raw/scenario02/csv/patients.csv", index_col=None, header=None)

results7_1_1 = pd.read_csv("/content/drive/MyDrive/P2/results/results7_1_1.csv" , index_col=None, header=None)
results15_1_1 = pd.read_csv("/content/drive/MyDrive/P2/results/results15_1_1.csv" , index_col=None, header=None)
results7_2_2 = pd.read_csv("/content/drive/MyDrive/P2/results/results7_2_2.csv" , index_col=None, header=None)
results15_2_2 = pd.read_csv("/content/drive/MyDrive/P2/results/results15_2_2.csv" , index_col=None, header=None)

In [4]:
ids_scenario1.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
1,7b3c738d-3f86-58e3-450e-4018521d192f,2021-08-11,NaN,999-71-7790,NaN,NaN,NaN,Svetlana462,O'Hara248,NaN,...,Boston Massachusetts US,971 Ullrich Grove Suite 53,Boston,Massachusetts,Suffolk County,02135,42.30426037582872,-71.04526175362314,22950.91,0.0
2,c40c2c75-13c9-8e4a-047f-573ae1330157,2020-03-03,NaN,999-49-5505,NaN,NaN,NaN,Rosalyn434,Christiansen251,NaN,...,Lawrence Massachusetts US,485 Senger Route Apt 34,Waltham,Massachusetts,Middlesex County,02451,42.34043946496594,-71.2068147606253,54769.7275,2624.1225
3,39e76039-522c-61f1-d961-e03dce5f0bb2,1998-11-21,2003-07-17,999-36-5991,NaN,NaN,NaN,Lashawnda573,Daniel959,NaN,...,North Reading Massachusetts US,944 Witting Passage,Everett,Massachusetts,Middlesex County,02149,42.412899775687954,-71.00928230028796,139148.275,932.745
4,ff981e00-4004-44b4-48ba-0bfa62440bb3,2009-07-29,NaN,999-39-5303,NaN,NaN,NaN,Ulysses632,Rice937,NaN,...,Scituate Massachusetts US,414 Rempel Harbor,Cohasset,Massachusetts,Norfolk County,NaN,42.21477042737495,-70.81455296740313,339359.4699999999,90.60000000000001

In [5]:
ids_alive_scenario1 = ids_scenario1[ids_scenario1[2].isna()]
ids_alive_scenario1 = ids_alive_scenario1[0]
ids_alive_scenario1.head()
len(ids_alive_scenario1)

1000

In [6]:
results7_1_1.head()

,0,1,2,3
0,Id_patient,Logistic Regression,Logistic Regression (False),Logistic Regression (True)
1,string,False True,continuous,continuous
2,meta,meta,meta,meta
3,114f35cc-db2d-65d7-678b-18495e4e6473,True,0.3767119883019757,0.6232880116980243
4,929d7327-052c-e985-7823-b7258efbe344,True,0.19183788408036728,0.8081621159196327

In [7]:
results15_1_1.head()

,0,1,2,3
0,Id_patient,Logistic Regression,Logistic Regression (False),Logistic Regression (True)
1,string,False True,continuous,continuous
2,meta,meta,meta,meta
3,114f35cc-db2d-65d7-678b-18495e4e6473,True,0.3767119883019757,0.6232880116980243
4,929d7327-052c-e985-7823-b7258efbe344,True,0.19183788408036728,0.8081621159196327

In [8]:
results7_1_1.drop([1,2],axis=0,inplace=True)
results15_1_1.drop([1,2],axis=0,inplace=True)
results7_1_1.head()

,0,1,2,3
0,Id_patient,Logistic Regression,Logistic Regression (False),Logistic Regression (True)
3,114f35cc-db2d-65d7-678b-18495e4e6473,True,0.3767119883019757,0.6232880116980243
4,929d7327-052c-e985-7823-b7258efbe344,True,0.19183788408036728,0.8081621159196327
5,ec45c9d5-774d-84b1-2f1f-e0bc20c9c722,False,0.7351399783862966,0.2648600216137034
6,b9e01fd8-1d11-b29f-01c1-d481d5476496,False,0.9999999999983858,1.6141854129036575e-12

In [9]:
results15_1_1.head()

,0,1,2,3
0,Id_patient,Logistic Regression,Logistic Regression (False),Logistic Regression (True)
3,114f35cc-db2d-65d7-678b-18495e4e6473,True,0.3767119883019757,0.6232880116980243
4,929d7327-052c-e985-7823-b7258efbe344,True,0.19183788408036728,0.8081621159196327
5,ec45c9d5-774d-84b1-2f1f-e0bc20c9c722,False,0.7351399783862966,0.2648600216137034
6,b9e01fd8-1d11-b29f-01c1-d481d5476496,False,0.9999999999983858,1.6141854129036575e-12

In [10]:
combination7_1_1 = results7_1_1[results7_1_1[0].isin(ids_alive_scenario1)]
combination7_1_1.head()

,0,1,2,3
3,114f35cc-db2d-65d7-678b-18495e4e6473,True,0.3767119883019757,0.6232880116980243
5,ec45c9d5-774d-84b1-2f1f-e0bc20c9c722,False,0.7351399783862966,0.2648600216137034
6,b9e01fd8-1d11-b29f-01c1-d481d5476496,False,0.9999999999983858,1.6141854129036575e-12
8,a182e9e8-ca76-85fe-18f1-3c747b4750f9,False,1.0,2.967763180103652e-227
9,9247e723-c35b-dc98-3071-b908dc425ab6,False,1.0,3.1355799251392274e-218

In [11]:
len(combination7_1_1)

677

In [12]:
combination15_1_1 = results15_1_1[results15_1_1[0].isin(ids_alive_scenario1)]
combination15_1_1.head()

,0,1,2,3
3,114f35cc-db2d-65d7-678b-18495e4e6473,True,0.3767119883019757,0.6232880116980243
5,ec45c9d5-774d-84b1-2f1f-e0bc20c9c722,False,0.7351399783862966,0.2648600216137034
6,b9e01fd8-1d11-b29f-01c1-d481d5476496,False,0.9999999999983858,1.6141854129036575e-12
8,a182e9e8-ca76-85fe-18f1-3c747b4750f9,False,1.0,2.967763180103652e-227
9,9247e723-c35b-dc98-3071-b908dc425ab6,False,1.0,3.1355799251392274e-218

In [13]:
len(combination15_1_1)

677

In [14]:
column_names = ["IdPaciente", "Probabilidade_7d", "Probabilidade_15d"]
alive_1_1 = pd.DataFrame(columns = column_names)

In [15]:
combination7_1_1.reset_index(inplace=True)
alive_1_1["IdPaciente"] = combination7_1_1[0]
var = [combination7_1_1.loc[i,3]  if combination7_1_1.loc[i, 1] == True else combination7_1_1.loc[i, 2] for i in range(len(combination7_1_1))]
alive_1_1["Probabilidade_7d"] = pd.Series(var)
#output.assign(probabilidade=var)
#output[1] =  [combination1.loc[i,4]  if combination1.loc[i, 2] == True else combination1.loc[i, 3] for i in range(len(combination1)) ]

In [16]:
combination15_1_1.reset_index(inplace=True)
var1 = [combination15_1_1.loc[i,3]  if combination15_1_1.loc[i, 1] == True else combination15_1_1.loc[i, 2] for i in range(len(combination15_1_1))]
alive_1_1["Probabilidade_15d"] = pd.Series(var1)

In [17]:
alive_1_1.head()

,IdPaciente,Probabilidade_7d,Probabilidade_15d
0,114f35cc-db2d-65d7-678b-18495e4e6473,0.3767119883019757,0.3767119883019757
1,ec45c9d5-774d-84b1-2f1f-e0bc20c9c722,0.7351399783862966,0.7351399783862966
2,b9e01fd8-1d11-b29f-01c1-d481d5476496,0.9999999999983858,0.9999999999983858
3,a182e9e8-ca76-85fe-18f1-3c747b4750f9,1.0,1.0
4,9247e723-c35b-dc98-3071-b908dc425ab6,1.0,1.0

In [18]:
alive_1_1.to_csv('/content/drive/MyDrive/P2/results/output_1_1.csv')

In [19]:
ids_scenario2.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
1,623336a5-3e7b-57c7-dbd3-b77434c1e1c7,2022-04-22,NaN,999-59-7348,NaN,NaN,NaN,Jesse626,Rowe323,NaN,...,Valdez Alaska US,405 Rempel Trace Apt 26,Juneau,Alaska,Juneau City and Borough,NaN,58.273878436290076,-134.36779055530556,2676.14,0.0
2,bb37561b-ba65-7c47-db5b-0641bca883b4,2012-02-08,NaN,999-16-2180,NaN,NaN,NaN,Noah480,Leffler128,NaN,...,Anchorage Alaska US,823 Sauer Manor Unit 30,Juneau,Alaska,Juneau City and Borough,NaN,58.36334563617582,-134.21564953658546,269257.17,8385.54
3,62fc8f1c-cbca-4143-bcda-8075dd42eaf0,2009-09-07,NaN,999-89-5507,NaN,NaN,NaN,Woodrow571,Koepp521,NaN,...,College Alaska US,365 Rice Landing,Juneau,Alaska,Juneau City and Borough,99801,58.37697712857532,-134.16965480987716,321548.1125,3862.0874999999996
4,678fc07c-1cb1-acc6-3553-d848200626e9,2006-02-11,NaN,999-92-8411,S99990200,NaN,NaN,Odessa199,Pfannerstill264,NaN,...,Anchorage Alaska US,1001 Grimes Bay,Juneau,Alaska,Juneau City and Borough,99801,58.3644560525976,-134.15105674081732,398085.56000000006,43.91999999999996

In [20]:
ids_alive_scenario2 = ids_scenario2[ids_scenario2[2].isna()]
ids_alive_scenario2 = ids_alive_scenario2[0]
ids_alive_scenario2.head()
len(ids_alive_scenario2)

1000

In [21]:
results7_2_2.head()

,0,1,2,3
0,Id_patient,Logistic Regression,Logistic Regression (False),Logistic Regression (True)
1,string,False True,continuous,continuous
2,meta,meta,meta,meta
3,c756039f-7e98-f161-edc9-1bdc1eaf6ed8,False,0.9999608979963647,3.9102003635286495e-05
4,42daadf8-8681-84f0-de32-b34b43da4366,False,0.5505898941602541,0.44941010583974594

In [22]:
results15_2_2.head()

,0,1,2,3
0,Id_patient,Logistic Regression,Logistic Regression (False),Logistic Regression (True)
1,string,False True,continuous,continuous
2,meta,meta,meta,meta
3,c756039f-7e98-f161-edc9-1bdc1eaf6ed8,False,0.9999437496961082,5.6250303891823786e-05
4,42daadf8-8681-84f0-de32-b34b43da4366,False,0.5678619453093301,0.43213805469066996

In [23]:
results7_2_2.drop([1,2],axis=0,inplace=True)
results15_2_2.drop([1,2],axis=0,inplace=True)
results7_2_2.head()

,0,1,2,3
0,Id_patient,Logistic Regression,Logistic Regression (False),Logistic Regression (True)
3,c756039f-7e98-f161-edc9-1bdc1eaf6ed8,False,0.9999608979963647,3.9102003635286495e-05
4,42daadf8-8681-84f0-de32-b34b43da4366,False,0.5505898941602541,0.44941010583974594
5,f7fd6901-659d-9dc9-4e20-e5ca1420e61f,False,0.9999926371230122,7.362876987790146e-06
6,572f7c22-600f-501f-6470-e355f3fdff57,True,0.25171835790697683,0.7482816420930232

In [24]:
results15_2_2.head()

,0,1,2,3
0,Id_patient,Logistic Regression,Logistic Regression (False),Logistic Regression (True)
3,c756039f-7e98-f161-edc9-1bdc1eaf6ed8,False,0.9999437496961082,5.6250303891823786e-05
4,42daadf8-8681-84f0-de32-b34b43da4366,False,0.5678619453093301,0.43213805469066996
5,f7fd6901-659d-9dc9-4e20-e5ca1420e61f,False,0.9999985097400641,1.4902599359316143e-06
6,572f7c22-600f-501f-6470-e355f3fdff57,True,0.20294319770431046,0.7970568022956895

In [25]:
combination7_2_2 = results7_2_2[results7_2_2[0].isin(ids_alive_scenario2)]
combination7_2_2.head()

,0,1,2,3
3,c756039f-7e98-f161-edc9-1bdc1eaf6ed8,False,0.9999608979963647,3.9102003635286495e-05
4,42daadf8-8681-84f0-de32-b34b43da4366,False,0.5505898941602541,0.44941010583974594
5,f7fd6901-659d-9dc9-4e20-e5ca1420e61f,False,0.9999926371230122,7.362876987790146e-06
6,572f7c22-600f-501f-6470-e355f3fdff57,True,0.25171835790697683,0.7482816420930232
7,dccb9c38-44cd-68c5-852c-e63a0b035a4f,False,0.9999657784275652,3.4221572434848915e-05

In [26]:
len(combination7_2_2)

689

In [30]:
combination15_2_2 = results15_2_2[results15_2_2[0].isin(ids_alive_scenario2)]
combination15_2_2.head()

,0,1,2,3
3,c756039f-7e98-f161-edc9-1bdc1eaf6ed8,False,0.9999437496961082,5.6250303891823786e-05
4,42daadf8-8681-84f0-de32-b34b43da4366,False,0.5678619453093301,0.43213805469066996
5,f7fd6901-659d-9dc9-4e20-e5ca1420e61f,False,0.9999985097400641,1.4902599359316143e-06
6,572f7c22-600f-501f-6470-e355f3fdff57,True,0.20294319770431046,0.7970568022956895
7,dccb9c38-44cd-68c5-852c-e63a0b035a4f,False,0.9999611296734974,3.8870326502637364e-05

In [31]:
alive_2_2 = pd.DataFrame(columns = column_names)

In [32]:
combination7_2_2.reset_index(inplace=True)
alive_2_2["IdPaciente"] = combination7_2_2[0]
var2 = [combination7_2_2.loc[i,3]  if combination7_2_2.loc[i, 1] == True else combination7_2_2.loc[i, 2] for i in range(len(combination7_2_2))]
alive_2_2["Probabilidade_7d"] = pd.Series(var2)

In [33]:
combination15_2_2.reset_index(inplace=True)
var3 = [combination15_2_2.loc[i,3]  if combination15_2_2.loc[i, 1] == True else combination15_2_2.loc[i, 2] for i in range(len(combination15_2_2))]
alive_2_2["Probabilidade_15d"] = pd.Series(var3)

In [34]:
alive_2_2.head()

,IdPaciente,Probabilidade_7d,Probabilidade_15d
0,c756039f-7e98-f161-edc9-1bdc1eaf6ed8,0.9999608979963647,0.9999437496961082
1,42daadf8-8681-84f0-de32-b34b43da4366,0.5505898941602541,0.5678619453093301
2,f7fd6901-659d-9dc9-4e20-e5ca1420e61f,0.9999926371230122,0.9999985097400641
3,572f7c22-600f-501f-6470-e355f3fdff57,0.25171835790697683,0.20294319770431046
4,dccb9c38-44cd-68c5-852c-e63a0b035a4f,0.9999657784275652,0.9999611296734974

In [35]:
alive_2_2.to_csv('/content/drive/MyDrive/P2/results/output_2_2.csv')